.container {
  padding-top: 80px;
}

.navbar-brand {
  margin-left: 40px;
}

.navbar-nav {
  margin-right: 40px;
}

.search-input {
  width: 200px;
}

.logo-image {
  width: 320px;
  height: 200px;
}
.titulo {
  text-align: center;
  padding-top: 10px;
}
